footer {
    display: flex;
    background: #5c763b;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 20px;
    margin-top: -30px;
  }

  footer #icon {
    margin-left: 40px;
  }

  footer p {
    color: #fff;
    font-size: 7pt;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 15px;
    }

    footer #icon {
        margin: 0;
        justify-content: center;
    }

    footer p {
        margin: 0;
        font-size: 7pt;
        flex: none;
    }
}